<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TSSP.DAL.Properties.Settings.XPU_TSSPConnectionString"
            connectionString="Data Source=.;Initial Catalog=XPU-TSSP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TSSP.DAL.Properties.Settings.XPU_TSSPConnectionString1"
            connectionString="Data Source=xpu.tssp;Initial Catalog=XPU-TSSP;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>